{{> manager_sidebar}}
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        {{> navbar}}
        {{#if data}}
        <div class="container my-4">
            <div class="row">
                <div class="col-lg-10 shadow-lg px-5 py-3 mb-5 bg-body rounded offset-md-1">
                    <!-- Agar ma'lumot mavjud bo'lsa jadval chiqadi -->
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Tashkilot logotipi</th>
                                <td>
                                    {{#if data.logo}}
                                    <img src="/uploads/{{data.logo}}" width="120" alt="Rasm">
                                    {{else}}
                                    <span class="text-danger">Rasm yuklanmagan</span>
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <th>Tashkilot nomi</th>
                                <td>{{data.tashkilot_nomi}}</td>
                            </tr>
                            <tr>
                                <th>Akademik ishlar bo’yicha prorektor
                                </th>
                                <td>{{data.masul}}</td>
                            </tr>
                            <tr>
                                <th>Tashkilot qisqa nomi</th>
                                <td>{{data.short_name}}</td>
                            </tr>
                            {{!-- <tr>
                                <th>Viloyat</th>
                                <td>{{data.viloyat_nomi}}</td>
                            </tr>
                            <tr>
                                <th>Tuman</th>
                                <td>{{data.tuman_nomi}}</td>
                            </tr> --}}
                            <tr>
                                <th>Ma'lumot yangilandi</th>
                                <td>{{formatDate3 data.updated_at}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a href="/manager/tashkilot/{{data.id}}" class="btn btn-success">✏️ Tahrirlash</a>
        </div>
        {{else}}
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
            {{!-- <h1 class="h3 mb-0">Tashkilot qo'shish</h1> --}}
        </div>
        <div class="row">
            <div class="col-lg-10 shadow-lg px-5 py-3 mb-5 bg-body rounded offset-md-1">
                <form class="row g-3 needs-validation form-floating was-validated" novalidate method="POST"
                    action="/manager/tashkilot/add" enctype="multipart/form-data">
                    <div class="col-md-12 p-3 mb-3 shadow  bg-body-tertiary rounded">
                        <p class="text-center fs-5">Tashkilot ma'lumotlarini qo'shish</p>
                        <div class="row">
                            <div class="col-md-6 form-floating mb-2">
                                <div class="col-md-12 form-floating mb-2">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="Ta'lim muassasasi nomi" name="tashkilot_nomi" required>
                                    <label for="floatingInput" class="mx-2">Ta'lim muassasasi nomi</label>
                                </div>
                                {{!-- Mas'ul --}}
                                <div class="col-md-12 form-floating mb-2">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="Akademik ishlar bo’yicha prorektor" name="masul" required>
                                    <label for="floatingInput" class="mx-2">Akademik ishlar bo’yicha prorektor
                                    </label>
                                </div>
                                {{!-- Tashkilot qisqa nomi --}}
                                <div class="col-md-12 form-floating mb-2">
                                    <input type="text" class="form-control" id="floatingInput"
                                        placeholder="Tashkilot qisqa nomi" name="short_name" required>
                                    <label for="floatingInput" class="mx-2">Tashkilot qisqa nomi
                                    </label>
                                </div>
                            </div>
                            {{!-- Logo --}}
                            <div class="col-md-6  mb-2 shadow p-3 bg-body-tertiary rounded">
                                <label for="rasm" class="form-label">Tashkilot logosini yuklang</label>
                                <input class="form-control" id="rasm" name="logo" type="file" required>
                                <div class="invalid-feedback">Rasm yuklash shart!</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
        {{/if}}





    </div>
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Barcha huquqlar himoyalangan &copy; 2026</span>
            </div>
        </div>
    </footer>
</div>

<script src="/js/student_talim.js"></script>