{{> sidebar}}
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    {{> navbar}}
    {{#if data}}
    <div class="container my-4">
      <div class="row">
        <div class="col-lg-10 shadow-lg px-5 py-3 mb-5 bg-body rounded offset-md-1">
          <!-- Agar ma'lumot mavjud bo'lsa jadval chiqadi -->
                      <div class="d-sm-flex align-items-center justify-content-center mb-4">
              <h1 class="h3 mb-0 text-gray-800">Talabaning yashash holati bo‘yicha ma'lumoti</h1>
            </div>
          {{#each data}}
          <table class="table table-bordered table-striped shadow-lg">
            <tbody>
              <tr>
                <th class="w-50">Talabaning o‘qish davridagi yashash joyi</th>
                <td>
                  {{yashash_joyi}}
                </td>
              </tr>
              <tr>
                <th>Yashash manzili</th>
                <td>{{viloyat_nomi}}, {{tuman_nomi}}, {{manzili}}</td>
              </tr>
              <tr>
                <th>
                  <a href="/student/yashash_holati/edit" class="btn btn-success">✏️ Tahrirlash</a>
                </th>
              </tr>
            </tbody>
          </table>
          {{/each}}
        </div>
      </div>
      {{!-- <a href="/student/til_bilish/{{data.id}}" class="btn btn-success">✏️ Tahrirlash</a> --}}
    </div>
    {{else}}
              <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 shadow-lg px-5 py-3 mb-5 bg-body rounded offset-md-1">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-center mb-4">
              <h1 class="h3 mb-0 text-gray-800">Yashash holati bo‘yicha ma'lumot qo‘shish</h1>
            </div>
            <div class="row">
              <div class="col-lg-12  px-5 py-3  bg-body rounded">
                <form class="row g-3 needs-validation form-floating was-validated" method="POST"
                  action="/student/yashash_holati/add" novalidate>
                  <div class="col-md-12 p-3 mb-3 shadow  bg-body-tertiary rounded">
                    <!-- <p class="text-center fs-5">Ta'lim ma'lumotlari</p> -->
                    <div class="row">
                      <div class="col-md-12 mb-2 form-floating">
                        <select class="form-select" id="yutuq_daraja" name="yashash_joyi" required>
                          <option value="" disabled selected>Tanlang...</option>
                          <option value="O‘z uyidan qatnab tahsil oladi">O‘z uyidan qatnab tahsil oladi</option>
                          <option value="Talabalar turar joyida yashaydi">Talabalar turar joyida yashaydi</option>
                          <option value="Ijarada yashaydi">Ijarada yashaydi</option>
                          <option value="Qarindoshinikida yashaydi">Qarindoshinikida yashaydi</option>
                        </select>
                        <label for="yutuq_daraja" class="mx-2">Talabaning o‘qish davridagi yashash joyi</label>
                      </div>
                              <!-- Yashash manzili -->
        <div class="col-md-12 p-3 mb-3 shadow bg-body-tertiary rounded">
          <p class="text-center fs-5">Yashash manzili</p>
          <div class="row">
<div class="col-md-3 mb-2 form-floating">
  <select class="form-select" id="viloyat" name="viloyat_id" required>
    <option value="" disabled selected>Tanlang...</option>
    {{#each viloyatlar}}
      <option value="{{this.id}}">
        {{this.nomi}}
      </option>
    {{/each}}
  </select>
  <label for="viloyat">Viloyat</label>
</div>

<div class="col-md-3 mb-2 form-floating">
  <select class="form-select" id="tuman" name="tuman_id" required>
    <option value="" disabled>Tanlang...</option>
    {{#each tumanlar}}
      <option value="{{this.id}}">
        {{this.nomi}}
      </option>
    {{/each}}
  </select>
  <label for="tuman">Shahar/Tuman</label>
</div>
            <div class="col-md-6 mb-2 form-floating">
              <input type="text" class="form-control" id="manzili" name="manzili" placeholder="Manzil" required>
              <label for="manzili">Mahalla, ko‘cha, uy raqami</label>
            </div>
          </div>
        </div>

                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Qo‘shish</button>
                  </div>
                </form>
              </div>
            </div>
</div>
</div>
          </div>
    {{/if}}
  </div>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Barcha huquqlar himoyalangan &copy; 2025</span>
      </div>
    </div>
  </footer>
</div>
<script src="/js/student_talim.js"></script>