{{> sidebar}}
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    {{> navbar}}
    <div class="container my-4">
      <div class="row">
        <div class="col-lg-10 shadow-lg px-5 py-3 mb-5 bg-body rounded offset-md-1">

          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-center mb-4">
              <h1 class="h3 mb-0 text-gray-800">Qiziqishlarni tahrirlash</h1>
            </div>
            <div class="row">
              <div class="col-lg-12 shadow-lg px-5 py-3 mb-5 bg-body rounded">
                <form class="row g-3 needs-validation form-floating was-validated" method="POST"
                  action="/student/qiziqishlari/{{data.id}}" novalidate>
                  <div class="col-md-12 p-3 mb-3 shadow  bg-body-tertiary rounded">
                    <!-- <p class="text-center fs-5">Ta'lim ma'lumotlari</p> -->
                    <div class="row">
                      <div class="col-md-6 mb-2 form-floating">
                        <select class="form-select" id="qiziqish_turi" name="qiziqish_turi" required>
                          <option value="{{data.qiziqish_turi}}" selected hidden>{{data.qiziqish_turi}}</option>
                          <option value="Ilmiy">Ilmiy</option>
                          <option value="Sport">Sport</option>
                          <option value="Badiiy">Badiiy</option>
                          <option value="Intellektual">Intellektual</option>
                          <option value="Axborot texnologiyalari">Axborot texnologiyalari</option>
                        </select>
                        <label for="qiziqish_turi" class="mx-2">Qiziqish turi</label>
                      </div>
                      <div class="col-md-6 form-floating mb-2">
                        <input class="form-control" list="qiziqish_yunalish" id="exampleDataList23"
                          placeholder="Qiziqish yo'nalishi" name="qiziqish_yunalish" value="{{data.qiziqish_yunalish}}" required>
                        <label for="exampleDataList2" class="mx-2">Sertifikat nomi (agar mavjud bo'lsa)</label>
                        <datalist id="qiziqish_yunalish">
                          <option value="Dasturlash">
                          <option value="Grafika">
                          <option value="Mobil">
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary">Tahrirlash</button>
                  </div>
                </form>
              </div>
            </div>


          </div>


        </div>
      </div>
      {{!-- <a href="/student/til_bilish/{{data.id}}" class="btn btn-success">✏️ Tahrirlash</a> --}}
    </div>
  </div>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Barcha huquqlar himoyalangan &copy; 2025</span>
      </div>
    </div>
  </footer>
</div>
<script src="/js/student_talim.js"></script>